
@font-face {
    font-family:OpenSans;
    src: url("http://fonts.googleapis.com/css?family=Open Sans:300,regular,600,700,800");
    font-style: normal;
    font-weight:normal;
}

body {

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:"Open Sans" serif;
    font-family: "Open Sans";
    font-style: normal;
    font-weight:normal;
    font-size: 100%;
    background: #999;
    overflow-y:hidden;
}

nav {
    padding:10px 0 15px 0;
    width: 100%;
    height: 60px;
    background: #FF7F66;
}

nav a{
    font-weight: lighter;
    font-size: 14px;
    color: #FAFAFA;
    padding: 0 10px ;
}


ul li{
    display: inline;
    list-style: none;

}


a{
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color: #FFBE7D;
}

footer{
    display: block;
    background: #999;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.smallB{
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    padding:5px 10px 5px 10px ;
    opacity: 0.5;
    background: #FAFAFA;
    color:#666;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.smallB:hover{
    opacity: 1;
    color: #FFBE7D;
}

.clear {clear:both;}

.c960 {
    margin: auto;
    width:960px;
}

.logo {
    color: #FAFAFA;
    float:left;
    margin-left: -500px;
    padding-top: 10px;
    font-size: 27px;
    font-weight: 800;
}

.menu {
    margin: 0 auto;
    padding-right: 10px;
    float:right

}

#viking{
    display: block;
    float: left;
    height: 590px;
    width: 600px;

    overflow: hidden;
}

.ctaBG{
    width: 100%;
    background:#FFBE7D;
    height: 590px;
}

.button{
    border-radius: 3px;
    background: #2F343B;
    color:#FAFAFA;
    height: 30px;
    width:100%;
    padding-top: 12px;
    padding-bottom: 5px;
    margin: auto auto;
    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: center;

}


.button:hover{

    background: #FAFAFA;
    color:#2F343B;

}

#sliderSpot {
    display: block;
    width:360px ;
    height: 590px;
    float: right;
    overflow: hidden;

}

.logInContent{

    display: none;

}

.signUpContent{

    display: none;

}

.sliderContent{
    color: #444;
    padding-top: 120px;
    padding-left: 20px;
    height: 280px;
    width: 80%;
    overflow: hidden;
}

.sliderContent h1{
     color:#FAFAFA;
    margin-bottom: 10px;

}




