
@font-face {
    font-family:OpenSans;
    src: url("http://fonts.googleapis.com/css?family=Open Sans:300,regular,600,700,800");
    font-style: normal;
    font-weight:normal;
}

body {

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family:"Open Sans" serif;
    font-family: "Open Sans";
    font-style: normal;
    font-weight:normal;
    font-size: 100%;
    background: #2F343B;
    overflow-y:hidden;
}

nav {
    padding:10px 0 15px 0;
    width: 100%;
    height: 60px;
    background: #FF7F66;
}

nav a{
    font-weight: lighter;
    font-size: 14px;
    color: #FAFAFA;
    padding: 0 10px ;
}


ul li{
    display: inline;
    list-style: none;

}


a{
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color: #FFBE7D;
}

footer{

    display: block;
    background: #FAFAFA;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.smallB{
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    padding:5px 10px 5px 10px ;
    opacity: 0.5;
    background: #FAFAFA;
    color:#666;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.smallB:hover{
    opacity: 1;
    color: #FFBE7D;
}

.clear {clear:both;}

.c960 {
    margin: auto;
    width:960px;
}

.logo {
    color: #FAFAFA;
    float:left;
    margin-left: -500px;
    padding-top: 18px;
    font-size: 18px;
    font-weight: 800;
}

.menu {
    margin: 0 auto;
    padding-right: 10px;
    float:right

}

#viking{
    display: block;
    float: left;
    height: 590px;
    width: 600px;
    z-index: 1;
    position: absolute;


}

#viking img{
    margin-top: 210px;
    margin-left: 40px;
    max-height:75% ;
    max-width: 75%;

}

.ctaBG{
    width: 100%;
    background:#99C9C0; /*#FFBE7D*/
    height: 590px;
    overflow: hidden;
}

.button{
    border-radius: 3px;
    background: #2F343B;
    color:#FAFAFA;
    height: 30px;
    width:90%;
    padding-top: 12px;
    padding-bottom: 5px;

    overflow: hidden;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: center;

}


.button:hover{

    background: #FAFAFA;
    color:#2F343B;

}

#sliderSpot {
    display: block;
    width:360px ;
    height: 590px;
    float: right;
    overflow: hidden;

}

.label{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: -10px;

}

.input{
    display: inline-block;
    width: 85%;
    height: 15px;
    padding: 10px 5px 15px 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    border-radius: 3px;
    z-index: 1;

    background: #FAFAFA;
    color: #cbcbcb;

}

.titleSec{
    margin-top: -10px;
    margin-bottom: -20px;
    font-size: 28px;
    font-weight: 700;
    height:100px;
    color: #FAFAFA;
}

.whiteSpacer{
    padding-left: 30px;
    margin-bottom: 10px;
    height:1px;
    width:80% ;
    background: #FAFAFA;

}

.logInContent{

    margin: auto auto;
    display: none;
    padding-top: 120px;
    padding-left: 20px;
    height: 280px;
    width: 80%;
    overflow: hidden;

}

.signUpContent{
    margin: auto auto;
    display: none;
    padding-top: 120px;
    padding-left: 20px;
    height: 280px;
    width: 80%;
    overflow: hidden;

}

.sliderContent{
    display: block;
    color: #444;
    padding-top: 120px;
    padding-left: 20px;
    height: 330px;
    width: 80%;
    overflow: hidden;
}

.sliderContent h1{
     color:#FAFAFA;
    margin-bottom: 10px;

}

.contentCTA {

    height: 200px;
}




