/* line 23, ../../build/sass/globals/_navigation.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
  background-color: transparent;
  border: none;
}

/* line 32, ../../build/sass/globals/_navigation.scss */
.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

/* line 36, ../../build/sass/globals/_navigation.scss */
.nav-text {
  letter-spacing: 1px;
  margin-left: 120px;
}

/* line 41, ../../build/sass/globals/_navigation.scss */
.logo {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  margin-left: -35px;
}

/* line 48, ../../build/sass/globals/_navigation.scss */
nav {
  z-index: 3;
  position: absolute;
  padding-top: 10px;
  background-color: transparent;
  width: 100%;
  top: 0px;
  height: 65px;
}
/* line 57, ../../build/sass/globals/_navigation.scss */
nav ul {
  margin-left: 30px;
  margin-top: -70px;
  list-style-type: none;
}
/* line 62, ../../build/sass/globals/_navigation.scss */
nav ul li {
  display: inline;
  padding: 0 10px;
}

/* line 69, ../../build/sass/globals/_navigation.scss */
.camera-menu {
  z-index: 2;
  position: absolute;
  background: #333333;
  color: white;
  width: 100%;
  height: 135px;
  transition: top .2s;
}

/* line 80, ../../build/sass/globals/_navigation.scss */
.camera-menu {
  top: 0px;
  margin-top: -70px;
}

/* line 85, ../../build/sass/globals/_navigation.scss */
.open-camera-menu {
  top: 135px;
}

/* line 18, ../../build/sass/application.scss */
html, body {
  background: white;
}

/* line 5, ../../build/sass/views/_index.scss */
.tile1, .tile2 {
  height: 530px;
}

/* line 12, ../../build/sass/views/_index.scss */
.cta {
  margin-top: -20px;
}

/* line 16, ../../build/sass/views/_index.scss */
.cta-logo {
  width: 40%;
}

/* line 20, ../../build/sass/views/_index.scss */
.tile1 {
  color: white;
  padding-top: 180px;
  background: url(../images/cta2.jpg) no-repeat center center;
  background-position: 0px -120px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 22, ../../build/sass/views/_index.scss */
.tile1 h2 {
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: -5px;
}
/* line 33, ../../build/sass/views/_index.scss */
.tile1 a {
  color: #91cc8e;
  letter-spacing: 1px;
}
/* line 36, ../../build/sass/views/_index.scss */
.tile1 a:hover {
  text-decoration: none;
}
/* line 41, ../../build/sass/views/_index.scss */
.tile1 .button {
  background: white;
  border-radius: 6px;
  width: 180px;
  margin-left: 25px;
}

/* line 49, ../../build/sass/views/_index.scss */
.tile2 {
  background: #ECECEC;
  padding-top: 70px;
}
/* line 53, ../../build/sass/views/_index.scss */
.tile2 h2 {
  font-weight: 300;
}
/* line 56, ../../build/sass/views/_index.scss */
.tile2 p {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 62, ../../build/sass/views/_index.scss */
.tile3 {
  padding-top: 20px;
  margin-top: 120px;
}

/* line 68, ../../build/sass/views/_index.scss */
#signUpContent {
  display: none;
}

/* line 74, ../../build/sass/views/_index.scss */
.google-icon {
  height: 80px;
  width: 80px;
}

/* line 79, ../../build/sass/views/_index.scss */
.google-icon {
  background: url(../images/follow/gp.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 5, ../../build/sass/views/_project.scss */
.signup-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 9, ../../build/sass/views/_project.scss */
.signup {
  padding: 200px 0 0 0;
  min-height: 680px;
}
/* line 12, ../../build/sass/views/_project.scss */
.signup label {
  letter-spacing: 1px;
  color: #333333;
}
/* line 17, ../../build/sass/views/_project.scss */
.signup .highlight {
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: lighter;
  background: #333333;
  color: white;
  border-radius: 3px;
}
/* line 25, ../../build/sass/views/_project.scss */
.signup .highlight:hover {
  transition: .4s;
}

/* line 2, ../../build/sass/includes/_footer.scss */
#footer {
  font-size: 11px;
  color: #333333;
  background: white;
  width: 100%;
  height: 120px;
  padding-top: 60px;
}
/* line 10, ../../build/sass/includes/_footer.scss */
#footer a {
  color: #333333;
}
/* line 14, ../../build/sass/includes/_footer.scss */
#footer ul li {
  padding-right: 36px;
  display: inline;
}
