/* line 18, ../../build/sass/globals/_navigation.scss */
.spacer-line {
  background: #91cc8e;
  width: 100%;
  height: 2px;
}

/* line 24, ../../build/sass/globals/_navigation.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
  background: white;
  border: none;
}

/* line 33, ../../build/sass/globals/_navigation.scss */
.navbar-admin {
  background: white;
}

/* line 39, ../../build/sass/globals/_navigation.scss */
.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

/* line 43, ../../build/sass/globals/_navigation.scss */
.nav-text {
  letter-spacing: 1px;
  margin-left: 120px;
}

/* line 48, ../../build/sass/globals/_navigation.scss */
.logo {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  margin-left: -35px;
}

/* line 55, ../../build/sass/globals/_navigation.scss */
.smallLogo {
  margin-top: -5px;
  margin-left: 85px;
}

/* line 60, ../../build/sass/globals/_navigation.scss */
nav {
  z-index: 3;
  position: absolute;
  padding-top: 10px;
  background-color: transparent;
  width: 100%;
  top: 0px;
  height: 65px;
}
/* line 69, ../../build/sass/globals/_navigation.scss */
nav ul {
  margin-left: 30px;
  margin-top: -70px;
  list-style-type: none;
}
/* line 74, ../../build/sass/globals/_navigation.scss */
nav ul li {
  display: inline;
  padding: 0 10px;
}

/* line 81, ../../build/sass/globals/_navigation.scss */
.camera-menu {
  z-index: 2;
  position: absolute;
  background: #333333;
  color: white;
  width: 100%;
  height: 135px;
  transition: top .2s;
}

/* line 92, ../../build/sass/globals/_navigation.scss */
.camera-menu {
  top: 0px;
  margin-top: -70px;
}

/* line 97, ../../build/sass/globals/_navigation.scss */
.open-camera-menu {
  top: 135px;
}

/* line 18, ../../build/sass/application.scss */
html, body {
  background: white;
}

/* line 5, ../../build/sass/views/_index.scss */
.tile1, .tile2 {
  height: 530px;
}

/* line 12, ../../build/sass/views/_index.scss */
.cta {
  margin-top: -2px;
}

/* line 16, ../../build/sass/views/_index.scss */
.cta-logo {
  width: 40%;
}

/* line 20, ../../build/sass/views/_index.scss */
.tile1 {
  color: white;
  padding-top: 180px;
  background: url(../images/cta2.jpg) no-repeat center center;
  background-position: 0px -120px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 22, ../../build/sass/views/_index.scss */
.tile1 h2 {
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: -5px;
}
/* line 33, ../../build/sass/views/_index.scss */
.tile1 a {
  color: #91cc8e;
  letter-spacing: 1px;
}
/* line 36, ../../build/sass/views/_index.scss */
.tile1 a:hover {
  text-decoration: none;
}
/* line 41, ../../build/sass/views/_index.scss */
.tile1 .button {
  background: white;
  border-radius: 6px;
  width: 230px;
}
/* line 45, ../../build/sass/views/_index.scss */
.tile1 .button h5 {
  font-weight: 300;
}

/* line 51, ../../build/sass/views/_index.scss */
.tile2 {
  background: #ECECEC;
  padding-top: 70px;
}
/* line 55, ../../build/sass/views/_index.scss */
.tile2 h2 {
  font-weight: 300;
}
/* line 58, ../../build/sass/views/_index.scss */
.tile2 p {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 64, ../../build/sass/views/_index.scss */
.tile3 {
  padding-top: 220px;
}

/* line 68, ../../build/sass/views/_index.scss */
.grid-align {
  margin-left: 125px;
}

/* line 72, ../../build/sass/views/_index.scss */
.grid-pad {
  padding: 2px;
  margin-right: 40px;
}

/* line 78, ../../build/sass/views/_index.scss */
.grid-spacer {
  height: 2px;
  background: #999;
  margin-top: 50px;
  opacity: .3;
  border-radius: 3px;
}

/* line 86, ../../build/sass/views/_index.scss */
.number {
  display: block;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  background: white;
  padding-top: 5px;
}

/* line 100, ../../build/sass/views/_index.scss */
#signUpContent {
  display: none;
}

/* line 106, ../../build/sass/views/_index.scss */
.google-icon {
  height: 80px;
  width: 80px;
}

/* line 111, ../../build/sass/views/_index.scss */
.google-icon {
  background: url(../images/follow/gp.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 14, ../../build/sass/views/_dashboard.scss */
#addCollapse {
  display: block;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  background: white;
}
/* line 24, ../../build/sass/views/_dashboard.scss */
#addCollapse a {
  color: #91cc8e;
}
/* line 27, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover {
  background: #91cc8e;
}
/* line 29, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover a {
  color: white;
  text-decoration: none;
}
/* line 33, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover:active {
  background: #33ba9e;
  a-color: white;
}

/* line 42, ../../build/sass/views/_dashboard.scss */
.addEntry {
  display: block;
  padding-top: 60px;
  background: #33ba9e;
  height: 420px;
}
/* line 48, ../../build/sass/views/_dashboard.scss */
.addEntry label {
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 10px;
  width: 250px;
  display: inline-block;
  text-align: right;
  float: left;
  clear: left;
}
/* line 61, ../../build/sass/views/_dashboard.scss */
.addEntry input {
  display: inline-block;
  background: #ECECEC;
  padding: 10px;
  border-width: 0;
  border-radius: 6px;
  margin-left: 15px;
  float: left;
}
/* line 71, ../../build/sass/views/_dashboard.scss */
.addEntry -moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 76, ../../build/sass/views/_dashboard.scss */
.addEntry input:focus, .addEntry textarea:focus {
  outline: none;
}
/* line 79, ../../build/sass/views/_dashboard.scss */
.addEntry .submit {
  margin-top: 20px;
  padding: 10px;
  width: 160px;
}
/* line 84, ../../build/sass/views/_dashboard.scss */
.addEntry ul li {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 35px;
}

/* line 96, ../../build/sass/views/_dashboard.scss */
.history {
  height: 520px;
  background: #91cc8e;
  color: white;
}
/* line 100, ../../build/sass/views/_dashboard.scss */
.history h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 2, ../../build/sass/includes/_footer.scss */
#footer {
  font-size: 11px;
  color: #333333;
  background: white;
  width: 100%;
  height: 120px;
  padding-top: 60px;
}
/* line 10, ../../build/sass/includes/_footer.scss */
#footer a {
  color: #333333;
}
/* line 14, ../../build/sass/includes/_footer.scss */
#footer ul li {
  padding-right: 36px;
  display: inline;
}
