/* line 4, ../../build/sass/globals/_navigation.scss */
.nav-over {
  z-index: 3;
  width: 100%;
  padding-top: 32px;
  background: #191818;
}
/* line 11, ../../build/sass/globals/_navigation.scss */
.nav-over li > a {
  color: #f7ec16;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 2px;
}
/* line 18, ../../build/sass/globals/_navigation.scss */
.nav-over li > a:hover {
  padding-bottom: 8px;
  text-decoration: none;
}

/* line 27, ../../build/sass/globals/_navigation.scss */
nav {
  z-index: 3;
  position: absolute;
  height: 85px;
  padding-top: 10px;
  background-color: white;
  top: 0px;
}
/* line 35, ../../build/sass/globals/_navigation.scss */
nav h1 {
  color: #f7ec16;
  margin-left: 20px;
  margin-top: 0px;
}
/* line 42, ../../build/sass/globals/_navigation.scss */
nav ul {
  margin-left: 30px;
  list-style-type: none;
}
/* line 47, ../../build/sass/globals/_navigation.scss */
nav ul li {
  display: inline;
  padding: 0 10px;
}

/* line 54, ../../build/sass/globals/_navigation.scss */
.navbar-default .navbar-nav > li > a {
  color: #f7ec16;
}
/* line 56, ../../build/sass/globals/_navigation.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #f7ec16;
}

/* line 61, ../../build/sass/globals/_navigation.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
  background: #f7ec16;
  border: none;
}

/* line 70, ../../build/sass/globals/_navigation.scss */
.navbar-admin {
  padding-top: 20px;
  background: #303333;
}

/* line 75, ../../build/sass/globals/_navigation.scss */
.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

/* line 79, ../../build/sass/globals/_navigation.scss */
.nav-text {
  letter-spacing: 1px;
  margin-left: 120px;
}

/* line 84, ../../build/sass/globals/_navigation.scss */
.logo {
  width: 100%;
  height: 100%;
  margin-top: -5px;
  margin-left: -35px;
}

/* line 91, ../../build/sass/globals/_navigation.scss */
.smallLogo {
  margin-top: -5px;
  margin-left: 85px;
}

/* line 19, ../../build/sass/application.scss */
html, body {
  background: white;
}

/* line 4, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button, .log-up-content .sign-in-button, .cta .button {
  transition: background 0.2s ease, color 0.2s ease;
  background: transparent;
  border-radius: 6px;
  border: 1px solid #f7ec16;
  color: white;
  margin-left: -3px;
  font-weight: 300;
  width: 240px;
  height: 40px;
  padding-top: 12px;
  cursor: pointer;
}
/* line 16, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button h5, .log-up-content .sign-in-button h5, .cta .button h5 {
  font-weight: 300;
}
/* line 19, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button:hover, .log-up-content .sign-in-button:hover, .cta .button:hover {
  background: #f7ec16;
  color: #303333;
}

/* line 25, ../../build/sass/views/_index.scss */
.content {
  z-index: 1;
  position: absolute;
}

/* line 29, ../../build/sass/views/_index.scss */
.cta {
  height: 725px;
}

/* line 36, ../../build/sass/views/_index.scss */
.log-box-in, .log-box-up, .log-in-content, .log-up-content, .log-in-content .sign-in-button, .log-up-content .sign-in-button {
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}

/* line 43, ../../build/sass/views/_index.scss */
.log-box-in {
  transition: margin-top .6s ease;
  position: absolute;
  z-index: 2;
  margin-top: -280px;
}

/* line 52, ../../build/sass/views/_index.scss */
.log-box-up {
  transition: margin-top .6s ease;
  position: absolute;
  z-index: 2;
  margin-top: -280px;
}

/* line 60, ../../build/sass/views/_index.scss */
.log-box-open {
  margin-top: 80px;
}

/* line 64, ../../build/sass/views/_index.scss */
.side-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  display: inline-block;
  float: left;
  background: #282828;
  height: 30px;
  width: 30px;
}

/* line 76, ../../build/sass/views/_index.scss */
.padding-b {
  padding-bottom: 12px;
}

/* line 80, ../../build/sass/views/_index.scss */
.log-in-content, .log-up-content {
  display: none;
  background: #191818;
  width: 280px;
  height: 120px;
  padding: 20px;
  padding-left: 20px;
  margin-left: 120px;
}
/* line 9, ../../build/sass/mixins/_responsive.scss */
.log-in-content ::-webkit-input-placeholder, .log-up-content ::-webkit-input-placeholder {
  color: #494c4c;
}
/* line 13, ../../build/sass/mixins/_responsive.scss */
.log-in-content :-moz-placeholder, .log-up-content :-moz-placeholder {
  /* Firefox 18- */
  color: #494c4c;
}
/* line 17, ../../build/sass/mixins/_responsive.scss */
.log-in-content ::-moz-placeholder, .log-up-content ::-moz-placeholder {
  /* Firefox 19+ */
  color: #494c4c;
}
/* line 21, ../../build/sass/mixins/_responsive.scss */
.log-in-content :-ms-input-placeholder, .log-up-content :-ms-input-placeholder {
  color: #494c4c;
}
/* line 92, ../../build/sass/views/_index.scss */
.log-in-content .icon-mail, .log-up-content .icon-mail, .log-in-content .icon-torso, .log-up-content .icon-torso, .log-in-content .icon-lock, .log-up-content .icon-lock {
  display: inline-block;
  float: left;
  font-size: 22px;
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: -80px;
  color: #494c4c;
}
/* line 112, ../../build/sass/views/_index.scss */
.log-in-content input, .log-up-content input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 30px;
  padding-top: 12px;
  padding-left: 10px;
  margin-top: 2px;
  margin-left: 15px;
  background: #282828;
  border: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
}
/* line 129, ../../build/sass/views/_index.scss */
.log-in-content #user, .log-up-content #user {
  padding-bottom: 10px;
}
/* line 132, ../../build/sass/views/_index.scss */
.log-in-content #pass, .log-up-content #pass {
  padding-bottom: 10px;
}
/* line 135, ../../build/sass/views/_index.scss */
.log-in-content #email, .log-up-content #email {
  padding-bottom: 10px;
}
/* line 138, ../../build/sass/views/_index.scss */
.log-in-content #userR, .log-up-content #userR {
  padding-bottom: 10px;
}
/* line 141, ../../build/sass/views/_index.scss */
.log-in-content #passR, .log-up-content #passR {
  padding-bottom: 10px;
}
/* line 144, ../../build/sass/views/_index.scss */
.log-in-content #emailR, .log-up-content #emailR {
  padding-bottom: 10px;
}
/* line 148, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button, .log-up-content .sign-in-button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  width: 280px;
  margin-left: -35px;
  margin-top: 24px;
  letter-spacing: 1px;
  background: #f7ec16;
}
/* line 159, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button a, .log-up-content .sign-in-button a {
  transition: background 0.2s ease, color 0.2s ease;
  color: #303333;
  text-decoration: none;
}
/* line 163, ../../build/sass/views/_index.scss */
.log-in-content .sign-in-button a:hover, .log-up-content .sign-in-button a:hover {
  color: #303333;
}
/* line 169, ../../build/sass/views/_index.scss */
.log-in-content .sign-up-button, .log-up-content .sign-up-button {
  margin-top: 20px;
  letter-spacing: 1px;
}
/* line 172, ../../build/sass/views/_index.scss */
.log-in-content .sign-up-button a, .log-up-content .sign-up-button a {
  transition: background 0.2s ease, color 0.2s ease;
  color: white;
  text-decoration: none;
}
/* line 176, ../../build/sass/views/_index.scss */
.log-in-content .sign-up-button a:hover, .log-up-content .sign-up-button a:hover {
  color: #f7ec16;
}

/* line 187, ../../build/sass/views/_index.scss */
.log-up-content {
  height: 200px;
}

/* line 192, ../../build/sass/views/_index.scss */
.logo {
  display: block;
  height: 120px;
  width: 300px;
}

/* line 197, ../../build/sass/views/_index.scss */
.sub {
  margin-top: -20px;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
}

/* line 203, ../../build/sass/views/_index.scss */
.cta {
  background: url(../images/cta.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -2px;
  padding-top: 300px;
}

/* line 218, ../../build/sass/views/_index.scss */
.cta-logo {
  width: 40%;
  margin-left: 10px;
}

/* line 223, ../../build/sass/views/_index.scss */
.tile0 {
  color: white;
  padding-top: 180px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 225, ../../build/sass/views/_index.scss */
.tile0 h2 {
  font-weight: lighter;
  font-size: 22px;
  letter-spacing: 6px;
  margin-bottom: 20px;
  margin-top: -5px;
}
/* line 237, ../../build/sass/views/_index.scss */
.tile0 a {
  color: #f7ec16;
  letter-spacing: 1px;
}
/* line 240, ../../build/sass/views/_index.scss */
.tile0 a:hover {
  text-decoration: none;
}
/* line 245, ../../build/sass/views/_index.scss */
.tile0 .cta-spacer {
  width: 400px;
  height: 2px;
  background: #ececec;
  opacity: .5;
}

/* line 253, ../../build/sass/views/_index.scss */
.tile1 {
  height: 525px;
  background: #191818;
  padding-top: 70px;
}
/* line 257, ../../build/sass/views/_index.scss */
.tile1 h2 {
  font-weight: 300;
  color: white;
}
/* line 261, ../../build/sass/views/_index.scss */
.tile1 h5 {
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 300;
  color: #f7ec16;
}
/* line 267, ../../build/sass/views/_index.scss */
.tile1 p {
  font-weight: 300;
  letter-spacing: 5px;
  color: white;
}
/* line 272, ../../build/sass/views/_index.scss */
.tile1 .content-align {
  margin-left: 90px;
}

/* line 277, ../../build/sass/views/_index.scss */
.tile2 {
  margin-top: -40px;
  padding-top: 220px;
}

/* line 282, ../../build/sass/views/_index.scss */
.grid-align {
  margin-left: 125px;
}
/* line 284, ../../build/sass/views/_index.scss */
.grid-align p {
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
  font-weight: lighter;
}

/* line 292, ../../build/sass/views/_index.scss */
.grid-pad {
  padding: 2px;
  margin-right: 40px;
}

/* line 298, ../../build/sass/views/_index.scss */
.grid-spacer {
  height: 2px;
  background: #999;
  margin-top: 50px;
  opacity: .2;
  border-radius: 2px;
}

/* line 306, ../../build/sass/views/_index.scss */
.number {
  display: block;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  background: white;
  padding-top: 5px;
}

/* line 323, ../../build/sass/views/_index.scss */
#signUpContent {
  display: none;
  opacity: 1;
}
/* line 326, ../../build/sass/views/_index.scss */
#signUpContent input {
  display: block;
}
/* line 329, ../../build/sass/views/_index.scss */
#signUpContent .padding {
  padding-bottom: 20px;
}

/* line 5, ../../build/sass/views/_dashboard.scss */
#add-entry {
  transition: margin-top .6s ease;
}

/* line 8, ../../build/sass/views/_dashboard.scss */
.move-up {
  margin-top: -500px;
}

/* line 11, ../../build/sass/views/_dashboard.scss */
.move-down {
  margin-top: 0;
}

/* line 14, ../../build/sass/views/_dashboard.scss */
.menu-toggle {
  display: none;
}

/* line 17, ../../build/sass/views/_dashboard.scss */
.cursor {
  cursor: pointer;
}

/* line 21, ../../build/sass/views/_dashboard.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 25, ../../build/sass/views/_dashboard.scss */
#addCollapse {
  display: block;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  text-align: center;
  font-weight: 300;
  background: white;
}
/* line 35, ../../build/sass/views/_dashboard.scss */
#addCollapse a {
  color: #f7ec16;
}
/* line 38, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover {
  background: #f7ec16;
}
/* line 40, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover a {
  color: white;
  text-decoration: none;
}
/* line 44, ../../build/sass/views/_dashboard.scss */
#addCollapse:hover:active {
  background: #ececec;
  a-color: white;
}

/* line 53, ../../build/sass/views/_dashboard.scss */
::-webkit-input-placeholder {
  color: #616c72;
}

/* line 57, ../../build/sass/views/_dashboard.scss */
.submit {
  margin-top: 20px;
  padding: 10px;
  width: 160px;
}

/* line 63, ../../build/sass/views/_dashboard.scss */
.add-entry {
  display: block;
  padding-top: 30px;
  background: transparent;
  height: 90px;
}

/* line 73, ../../build/sass/views/_dashboard.scss */
.listing {
  width: 500px;
  margin-bottom: 30px;
  padding: 20px;
}

/* line 79, ../../build/sass/views/_dashboard.scss */
.buttonHold {
  padding-top: 20px;
}

/* line 83, ../../build/sass/views/_dashboard.scss */
.subject {
  background: #191818;
  height: 100px;
  padding-top: 30px;
  margin-left: -20px;
}

/* line 90, ../../build/sass/views/_dashboard.scss */
.subject-line {
  background: transparent;
  color: white;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: -10px;
  border-width: 0;
  width: 400px;
}

/* line 101, ../../build/sass/views/_dashboard.scss */
.button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  transition: background 0.2s ease, color 0.2s ease;
  width: 215px;
  height: 40px;
  border: 1px solid #303333;
  background: transparent;
  color: #303333;
  margin-left: -3px;
  letter-spacing: 2px;
  padding-top: 3px;
  text-align: center;
}
/* line 113, ../../build/sass/views/_dashboard.scss */
.button h5 {
  font-weight: 300;
}
/* line 116, ../../build/sass/views/_dashboard.scss */
.button:hover {
  text-decoration: none;
  background: #303333;
  color: white;
}

/* line 124, ../../build/sass/views/_dashboard.scss */
.add-section {
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  height: 400px;
  padding-top: 60px;
  margin-left: -20px;
}
/* line 133, ../../build/sass/views/_dashboard.scss */
.add-section -moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 140, ../../build/sass/views/_dashboard.scss */
.add-section ul li {
  list-style: none;
}
/* line 144, ../../build/sass/views/_dashboard.scss */
.add-section ::-webkit-input-placeholder {
  color: #191818;
}
/* line 148, ../../build/sass/views/_dashboard.scss */
.add-section textarea {
  color: #ececec;
  background: transparent;
  border: none;
  resize: none;
  letter-spacing: .07em;
  font-size: 18px;
  font-weight: 300;
  width: 600px;
  height: 280px;
}
/* line 160, ../../build/sass/views/_dashboard.scss */
.add-section .submit {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin-top: 20px;
  padding: 10px;
  width: 160px;
}
/* line 167, ../../build/sass/views/_dashboard.scss */
.add-section input {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  height: 40px;
  width: 215px;
  border-width: 0;
  background: #ececec;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 10px;
  margin-bottom: 20px;
}
/* line 181, ../../build/sass/views/_dashboard.scss */
.add-section .label {
  -webkit-border-radius: 6px 0px 0px 6px;
  -moz-border-radius: 6px 0px 0px 6px;
  -ms-border-radius: 6px 0px 0px 6px;
  -o-border-radius: 6px 0px 0px 6px;
  border-radius: 6px 0px 0px 6px;
  width: 90px;
  height: 40px;
  background: #303333;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-right: -6px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

/* line 202, ../../build/sass/views/_dashboard.scss */
.history {
  padding-top: 60px;
  min-height: 720px;
  max-height: 100%;
  background: #ececec;
  color: #333333;
}
/* line 208, ../../build/sass/views/_dashboard.scss */
.history h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

/* line 2, ../../build/sass/includes/_footer.scss */
#footer {
  font-size: 11px;
  color: #333333;
  background: white;
  width: 100%;
  height: 120px;
  padding-top: 60px;
}
/* line 9, ../../build/sass/includes/_footer.scss */
#footer a {
  color: #333333;
}
/* line 11, ../../build/sass/includes/_footer.scss */
#footer a:hover {
  color: #f7ec16;
  text-decoration: none;
}
/* line 17, ../../build/sass/includes/_footer.scss */
#footer ul li {
  padding-right: 36px;
  display: inline;
}
